.clikBtn
{
    width: 100px;
    height: 100px;
    border-radius: 26px;
    background-color: rgb(207, 200, 105);
    margin: 0;
    font-weight: 900;
    border-block-width: 9px;
    border-color: rgb(83, 53, 11);
    font-size: 66px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 7px;
}

#divBtns
{
    margin-left: 32%; 
    justify-content: center;    
    height: 505px;
    width: 455px;
}
div
{
    margin-top: 5%;
}
h1
{
    margin-left: 0;
    color: beige;
}
